<!DOCTYPE html>
<html>
    <head>
        <title>Ray's Awesome Website</title>
            <link rel="stylesheet" href="styles.css">
        <style>
                img {
                  float: right;
                }
                p.round {
                    border: 2px solid orange;
                    border-radius: 15px;
                }
                h1 {
                    color: slateblue;
                    font-family: verdana;
                    font-size: 300%;
                    border-color:blue;
                    border-width: .25em;
                    border-style: dotted;
                }
                body {background-color: powderblue;}
                h2   {color:pink;}
                .sky {
                    position: relative;
                    text-align: center;
                    color: white;
                }
                .centered {
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                </style>
    </head>
    <body>
        <h1> Runlong Xu</h1>
        <h2>About Me</h2>
        <p class="round">I was born in Jiangsu China.</p >
        <p class="round">I like swimming.</p >

        <h2>My Favorite Sites</h2>
        <ul>
            <li>
                <a href=" ">Youtube Music</a >
            </li>
            <li>
                <a href="https://www.youtube.com">Youtube</a >
            </li>
            <li>
                <a href="http://uw.edu">UW</a >
            </li>
            <li>
                <a href="https://www.amazon.com">Amazon</a >
            </li>
            <li>
                <a href="http://www.apple.com">Apple</a >
            </li>
        </ul>

        <h2>My Favorite Pictures</h2>
        <div class="Animal">
            <img src="https://images2.minutemediacdn.com/image/upload/c_crop,h_1188,w_2120,x_0,y_227/f_auto,q_auto,w_1100/v1554729678/shape/mentalfloss/58331-istock-479586616.jpg" style="margin: 20px 20px 20px 20px">
            <div class="centered">Bird</div>
        </div>
        <a href="https://ichef.bbci.co.uk/news/660/cpsprodpb/6261/production/_104458152_nov23-foxhuntjimfeng.jpg">
            <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/6261/production/_104458152_nov23-foxhuntjimfeng.jpg" 
            title="A cute fox" style="width:100px;height:100px;margin:5px">
        </a >
        <a href="https://image.cnbcfm.com/api/v1/image/105992231-1561667465295gettyimages-521697453.jpeg?v=1561667497&w=630&h=354">
            <img src="https://image.cnbcfm.com/api/v1/image/105992231-1561667465295gettyimages-521697453.jpeg?v=1561667497&w=630&h=354" 
            title="A cute dog" style="width:100px;height:100px;margin:5px">
        </a >
    </body>
    </html>